.sb-sidenav-dark .sb-sidenav-menu .nav-link i {
 transition: 0.3s;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover i {
 color: white;
 transition: 0.45s;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
 color: white;
 background-color: black;
}